<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <div class="media-body">
        <h2 class="media-heading"><%= current_user.username %></h2>
        <small>
            <%= pluralize(current_user.wikis.count, 'wikis') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Wikis</h2>
<%= render current_user.wikis %>
